In [75]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [77]:
df = pd.read_csv('nasaconfirmedplanets.csv',index_col='rowid')
df

C:\Users\hardi\AppData\Local\Temp\ipykernel_104920\3382743866.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('nasaconfirmedplanets.csv',index_col='rowid')

,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,sy_snum,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,2,...,19-09-2023,2023-08,19-09-2023,2,1,2,0,0,0,0
2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,2,...,14-05-2014,2008-01,14-05-2014,2,1,2,0,0,0,0
3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,2,...,23-07-2014,2011-08,23-07-2014,2,1,2,0,0,0,0
4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,0,1,...,25-04-2018,2009-10,14-05-2014,0,1,1,0,0,0,0
5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,1,...,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39208,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,0,2,...,24-04-2015,2009-03,24-04-2015,5,1,10,1,0,0,0
39209,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,1,1,...,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0,0
39210,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,0,1,...,23-07-2014,2011-08,23-07-2014,1,1,1,0,0,0,0
39211,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,0,1,...,14-05-2014,2008-06,14-05-2014,1,1,1,0,0,0,0
39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,1,1,...,19-09-2023,2023-08,19-09-2023,1,1,1,0,0,0,0

In [78]:
df.info

<bound method DataFrame.info of          pl_name hostname pl_letter    hd_name   hip_name         tic_id  \
rowid
1       11 Com b   11 Com         b  HD 107383  HIP 60202   TIC 72437047
2       11 Com b   11 Com         b  HD 107383  HIP 60202   TIC 72437047
3       11 Com b   11 Com         b  HD 107383  HIP 60202   TIC 72437047
4       11 UMi b   11 UMi         b  HD 136726  HIP 74793  TIC 230061010
5       11 UMi b   11 UMi         b  HD 136726  HIP 74793  TIC 230061010
...          ...      ...       ...        ...        ...            ...
39208  ups And d  ups And         d    HD 9826   HIP 7513  TIC 189576919
39209  ups Leo b  ups Leo         b        NaN        NaN   TIC 49430557
39210   xi Aql b   xi Aql         b  HD 188310  HIP 97938  TIC 375464367
39211   xi Aql b   xi Aql         b  HD 188310  HIP 97938  TIC 375464367
39212   xi Aql b   xi Aql         b  HD 188310  HIP 97938  TIC 375464367

                        gaia_dr2_id                   gaia_dr3_id  \
rowid
1      Gaia DR2 3946945413106333696  Gaia DR3 3946945413106333696
2      Gaia DR2 3946945413106333696  Gaia DR3 3946945413106333696
3      Gaia DR2 3946945413106333696  Gaia DR3 3946945413106333696
4      Gaia DR2 1696798367260229376  Gaia DR3 1696798367260229376
5      Gaia DR2 1696798367260229376  Gaia DR3 1696798367260229376
...                             ...                           ...
39208   Gaia DR2 348020448377061376   Gaia DR3 348020482735930112
39209  Gaia DR2 3794167001116433152  Gaia DR3 3794167001116704000
39210  Gaia DR2 4298361114750843904  Gaia DR3 4298361114753012992
39211  Gaia DR2 4298361114750843904  Gaia DR3 4298361114753012992
39212  Gaia DR2 4298361114750843904  Gaia DR3 4298361114753012992

       default_flag  sy_snum  ...   rowupdate  pl_pubdate  releasedate  \
rowid                         ...
1                 1        2  ...  19-09-2023     2023-08   19-09-2023
2                 0        2  ...  14-05-2014     2008-01   14-05-2014
3                 0        2  ...  23-07-2014     2011-08   23-07-2014
4                 0        1  ...  25-04-2018     2009-10   14-05-2014
5                 1        1  ...  04-09-2018     2017-03   06-09-2018
...             ...      ...  ...         ...         ...          ...
39208             0        2  ...  24-04-2015     2009-03   24-04-2015
39209             1        1  ...  10-01-2022     2021-12   10-01-2022
39210             0        1  ...  23-07-2014     2011-08   23-07-2014
39211             0        1  ...  14-05-2014     2008-06   14-05-2014
39212             1        1  ...  19-09-2023     2023-08   19-09-2023

      pl_nnotes  st_nphot st_nrvc st_nspec pl_nespec pl_ntranspec pl_ndispec
rowid
1             2         1       2        0         0            0          0
2             2         1       2        0         0            0          0
3             2         1       2        0         0            0          0
4             0         1       1        0         0            0          0
5             0         1       1        0         0            0          0
...         ...       ...     ...      ...       ...          ...        ...
39208         5         1      10        1         0            0          0
39209         0         0       0        0         0            0          0
39210         1         1       1        0         0            0          0
39211         1         1       1        0         0            0          0
39212         1         1       1        0         0            0          0

[39212 rows x 288 columns]>

In [79]:
df_col = pd.read_csv('exoplanetai_data_column_discription.csv', index_col='S.No')
df_col

,Column Previous Name,Column Full Name,Coulmn Actual Name,Description,Purpose
S.No,,,,,
1,pl_name,Planet Name,name,Full name of the exoplanet.,Metadata
2,hostname,Host Name,star_name,Name of the host star.,Metadata
3,pl_letter,Planet Letter,letter,"Assigned letter (b, c, d, etc.).",Metadata
4,hd_name,HD ID,hd_id,ID in Henry Draper Catalogue.,Metadata
5,hip_name,HIP ID,hip_id,ID in Hipparcos Catalogue.,Metadata
...,...,...,...,...,...
285,st_nspec,Number of Stellar Spectra Measurements,n_spec,Total stellar spectra measurements recorded.,Feature
286,pl_nespec,Number of Eclipse Spectra,n_espec,Number of secondary eclipse spectra available.,Feature
287,pl_ntranspec,Number of Transmission Spectra,n_tspec,Number of transmission spectra available.,Feature
288,pl_ndispec,Number of Direct Imaging Spectra,n_ispec,Number of direct imaging spectra available.,Feature
289,-,NaN,is_habitable,The final target variable you will calculate.,Target

### Filtering by best default Flag

In [89]:
df = df.loc[df['default_flag'] == 1]
df

,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,sy_snum,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,2,...,19-09-2023,2023-08,19-09-2023,2,1,2,0,0,0,0
5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,1,...,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0,0
8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,1,1,...,19-09-2023,2023-08,19-09-2023,0,1,1,0,0,0,0
10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,Gaia DR3 1385293808145621504,1,1,...,12-06-2023,2022-09,12-06-2023,0,1,4,1,0,0,0
18,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,Gaia DR3 2135550755683407232,1,3,...,04-09-2018,2017-03,06-09-2018,5,1,4,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39193,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39199,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39205,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39209,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,1,1,...,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0,0
39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,1,1,...,19-09-2023,2023-08,19-09-2023,1,1,1,0,0,0,0

### Filtering by soltype (only confirmed planet whose data is verified to increase accuracy)

In [90]:
df = df.loc[df['soltype'] == 'Published Confirmed']
df

,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,sy_snum,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,2,...,19-09-2023,2023-08,19-09-2023,2,1,2,0,0,0,0
5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,1,...,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0,0
8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,1,1,...,19-09-2023,2023-08,19-09-2023,0,1,1,0,0,0,0
10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,Gaia DR3 1385293808145621504,1,1,...,12-06-2023,2022-09,12-06-2023,0,1,4,1,0,0,0
18,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,Gaia DR3 2135550755683407232,1,3,...,04-09-2018,2017-03,06-09-2018,5,1,4,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39193,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39199,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39205,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39209,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,1,1,...,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0,0
39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,1,1,...,19-09-2023,2023-08,19-09-2023,1,1,1,0,0,0,0

### Filtering by Planet controvery Flag (planet whose existence is under dispute)

In [91]:
df = df.loc[df['pl_controv_flag'] ==0]
df

,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,sy_snum,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,2,...,19-09-2023,2023-08,19-09-2023,2,1,2,0,0,0,0
5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,1,...,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0,0
8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,1,1,...,19-09-2023,2023-08,19-09-2023,0,1,1,0,0,0,0
10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,Gaia DR3 1385293808145621504,1,1,...,12-06-2023,2022-09,12-06-2023,0,1,4,1,0,0,0
18,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,Gaia DR3 2135550755683407232,1,3,...,04-09-2018,2017-03,06-09-2018,5,1,4,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39193,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39199,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39205,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39209,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,1,1,...,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0,0
39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,1,1,...,19-09-2023,2023-08,19-09-2023,1,1,1,0,0,0,0

In [92]:
df_p = df_col.set_index('Purpose')
cols_to_drop = df_p.loc['Drop', 'Column Previous Name'].tolist()
df = df.drop(columns=cols_to_drop)
df

,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,sy_snum,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,2,...,19-09-2023,2023-08,19-09-2023,2,1,2,0,0,0,0
5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,1,...,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0,0
8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,1,1,...,19-09-2023,2023-08,19-09-2023,0,1,1,0,0,0,0
10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,Gaia DR3 1385293808145621504,1,1,...,12-06-2023,2022-09,12-06-2023,0,1,4,1,0,0,0
18,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,Gaia DR3 2135550755683407232,1,3,...,04-09-2018,2017-03,06-09-2018,5,1,4,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39193,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39199,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39205,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39209,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,1,1,...,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0,0
39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,1,1,...,19-09-2023,2023-08,19-09-2023,1,1,1,0,0,0,0

In [95]:
df_meta_cols = df_p.loc['Metadata','Column Previous Name'].tolist()
df_metadata = df[df_meta_cols]
df_metadata

,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,pl_tsystemref,rastr,...,glat,glon,elat,elon,sy_dist,sy_disterr1,sy_disterr2,rowupdate,pl_pubdate,releasedate
rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,JD,12h20m42.91s,...,78.28058,264.13775,18.33392,177.41790,93.1846,1.92380,-1.92380,19-09-2023,2023-08,19-09-2023
5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,NaN,15h17m05.90s,...,41.04437,108.71900,74.95821,141.64312,125.3210,1.97650,-1.97650,04-09-2018,2017-03,06-09-2018
8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,JD,23h31m17.80s,...,-21.05141,106.41269,38.22901,11.95935,75.4392,0.71400,-0.71400,19-09-2023,2023-08,19-09-2023
10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,Gaia DR3 1385293808145621504,BJD,16h10m24.50s,...,46.94447,69.16849,62.87885,223.24717,17.9323,0.00730,-0.00730,12-06-2023,2022-09,12-06-2023
18,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,Gaia DR3 2135550755683407232,NaN,19h41m51.75s,...,13.20446,83.33558,69.46803,321.21176,21.1397,0.01100,-0.01110,04-09-2018,2017-03,06-09-2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39193,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,NaN,01h36m47.60s,...,-20.66791,132.00045,28.97913,38.54477,13.4054,0.06350,-0.06290,28-01-2019,2011-01,31-01-2019
39199,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,NaN,01h36m47.60s,...,-20.66791,132.00045,28.97913,38.54477,13.4054,0.06350,-0.06290,28-01-2019,2011-01,31-01-2019
39205,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,NaN,01h36m47.60s,...,-20.66791,132.00045,28.97913,38.54477,13.4054,0.06350,-0.06290,28-01-2019,2011-01,31-01-2019
39209,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,JD,11h36m56.93s,...,56.79861,267.26323,-3.04521,175.03272,52.5973,0.92720,-0.89630,10-01-2022,2021-12,10-01-2022
39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,JD,19h54m14.99s,...,-9.85535,47.81277,28.72199,302.62958,56.1858,0.55975,-0.55975,19-09-2023,2023-08,19-09-2023

In [ ]:
df_feature_cols = df_p.loc['Feature','Column Previous Name'].tolist()
df_feature = df[df_feature_cols]
df_feature.shape

(5954, 237)

In [97]:
df.to_csv('exoplanetai_datacleaning1_finalshape.csv')

In [104]:
df.isnull().sum()

pl_name            0
hostname           0
pl_letter          0
hd_name         4951
hip_name        4866
                ...
st_nrvc            0
st_nspec           0
pl_nespec          0
pl_ntranspec       0
pl_ndispec         0
Length: 263, dtype: int64