In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [52]:
df = pd.read_csv('nasaconfirmedplanets.csv')
df

C:\Users\hardi\AppData\Local\Temp\ipykernel_104920\4144164968.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('nasaconfirmedplanets.csv')

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,...,19-09-2023,2023-08,19-09-2023,2,1,2,0,0,0,0
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,14-05-2014,2008-01,14-05-2014,2,1,2,0,0,0,0
2,3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,23-07-2014,2011-08,23-07-2014,2,1,2,0,0,0,0
3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,0,...,25-04-2018,2009-10,14-05-2014,0,1,1,0,0,0,0
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,...,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39207,39208,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,0,...,24-04-2015,2009-03,24-04-2015,5,1,10,1,0,0,0
39208,39209,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,1,...,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0,0
39209,39210,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,0,...,23-07-2014,2011-08,23-07-2014,1,1,1,0,0,0,0
39210,39211,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,0,...,14-05-2014,2008-06,14-05-2014,1,1,1,0,0,0,0
39211,39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,1,...,19-09-2023,2023-08,19-09-2023,1,1,1,0,0,0,0

In [53]:
df.info

<bound method DataFrame.info of        rowid    pl_name hostname pl_letter    hd_name   hip_name  \
0          1   11 Com b   11 Com         b  HD 107383  HIP 60202
1          2   11 Com b   11 Com         b  HD 107383  HIP 60202
2          3   11 Com b   11 Com         b  HD 107383  HIP 60202
3          4   11 UMi b   11 UMi         b  HD 136726  HIP 74793
4          5   11 UMi b   11 UMi         b  HD 136726  HIP 74793
...      ...        ...      ...       ...        ...        ...
39207  39208  ups And d  ups And         d    HD 9826   HIP 7513
39208  39209  ups Leo b  ups Leo         b        NaN        NaN
39209  39210   xi Aql b   xi Aql         b  HD 188310  HIP 97938
39210  39211   xi Aql b   xi Aql         b  HD 188310  HIP 97938
39211  39212   xi Aql b   xi Aql         b  HD 188310  HIP 97938

              tic_id                   gaia_dr2_id  \
0       TIC 72437047  Gaia DR2 3946945413106333696
1       TIC 72437047  Gaia DR2 3946945413106333696
2       TIC 72437047  Gaia DR2 3946945413106333696
3      TIC 230061010  Gaia DR2 1696798367260229376
4      TIC 230061010  Gaia DR2 1696798367260229376
...              ...                           ...
39207  TIC 189576919   Gaia DR2 348020448377061376
39208   TIC 49430557  Gaia DR2 3794167001116433152
39209  TIC 375464367  Gaia DR2 4298361114750843904
39210  TIC 375464367  Gaia DR2 4298361114750843904
39211  TIC 375464367  Gaia DR2 4298361114750843904

                        gaia_dr3_id  default_flag  ...   rowupdate  \
0      Gaia DR3 3946945413106333696             1  ...  19-09-2023
1      Gaia DR3 3946945413106333696             0  ...  14-05-2014
2      Gaia DR3 3946945413106333696             0  ...  23-07-2014
3      Gaia DR3 1696798367260229376             0  ...  25-04-2018
4      Gaia DR3 1696798367260229376             1  ...  04-09-2018
...                             ...           ...  ...         ...
39207   Gaia DR3 348020482735930112             0  ...  24-04-2015
39208  Gaia DR3 3794167001116704000             1  ...  10-01-2022
39209  Gaia DR3 4298361114753012992             0  ...  23-07-2014
39210  Gaia DR3 4298361114753012992             0  ...  14-05-2014
39211  Gaia DR3 4298361114753012992             1  ...  19-09-2023

       pl_pubdate  releasedate  pl_nnotes st_nphot  st_nrvc st_nspec  \
0         2023-08   19-09-2023          2        1        2        0
1         2008-01   14-05-2014          2        1        2        0
2         2011-08   23-07-2014          2        1        2        0
3         2009-10   14-05-2014          0        1        1        0
4         2017-03   06-09-2018          0        1        1        0
...           ...          ...        ...      ...      ...      ...
39207     2009-03   24-04-2015          5        1       10        1
39208     2021-12   10-01-2022          0        0        0        0
39209     2011-08   23-07-2014          1        1        1        0
39210     2008-06   14-05-2014          1        1        1        0
39211     2023-08   19-09-2023          1        1        1        0

      pl_nespec pl_ntranspec pl_ndispec
0             0            0          0
1             0            0          0
2             0            0          0
3             0            0          0
4             0            0          0
...         ...          ...        ...
39207         0            0          0
39208         0            0          0
39209         0            0          0
39210         0            0          0
39211         0            0          0

[39212 rows x 289 columns]>

In [54]:
df_col = pd.read_csv('exoplanetai_data_column_discription.csv', index_col='S.No')
df_col

,Column Previous Name,Column Full Name,Coulmn Actual Name,Description,Purpose
S.No,,,,,
1,pl_name,Planet Name,name,Full name of the exoplanet.,Metadata
2,hostname,Host Name,star_name,Name of the host star.,Metadata
3,pl_letter,Planet Letter,letter,"Assigned letter (b, c, d, etc.).",Metadata
4,hd_name,HD ID,hd_id,ID in Henry Draper Catalogue.,Metadata
5,hip_name,HIP ID,hip_id,ID in Hipparcos Catalogue.,Metadata
...,...,...,...,...,...
285,st_nspec,Number of Stellar Spectra Measurements,n_spec,Total stellar spectra measurements recorded.,Feature
286,pl_nespec,Number of Eclipse Spectra,n_espec,Number of secondary eclipse spectra available.,Feature
287,pl_ntranspec,Number of Transmission Spectra,n_tspec,Number of transmission spectra available.,Feature
288,pl_ndispec,Number of Direct Imaging Spectra,n_ispec,Number of direct imaging spectra available.,Feature
289,-,NaN,is_habitable,The final target variable you will calculate.,Target

In [55]:
df_p = df_col.set_index('Purpose')
cols_to_drop = df_p.loc['Drop', 'Column Previous Name'].tolist()
df = df.drop(columns=cols_to_drop)
df

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,...,19-09-2023,2023-08,19-09-2023,2,1,2,0,0,0,0
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,14-05-2014,2008-01,14-05-2014,2,1,2,0,0,0,0
2,3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,23-07-2014,2011-08,23-07-2014,2,1,2,0,0,0,0
3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,0,...,25-04-2018,2009-10,14-05-2014,0,1,1,0,0,0,0
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,...,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39207,39208,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,0,...,24-04-2015,2009-03,24-04-2015,5,1,10,1,0,0,0
39208,39209,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,1,...,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0,0
39209,39210,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,0,...,23-07-2014,2011-08,23-07-2014,1,1,1,0,0,0,0
39210,39211,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,0,...,14-05-2014,2008-06,14-05-2014,1,1,1,0,0,0,0
39211,39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,1,...,19-09-2023,2023-08,19-09-2023,1,1,1,0,0,0,0

In [ ]:
df_meta_cols = df_p.loc['Metadata','Column Previous Name'].tolist()
df_metadata = df[df.columns = df_meta_cols]

Purpose
Metadata          pl_name
Metadata         hostname
Metadata        pl_letter
Metadata          hd_name
Metadata         hip_name
Metadata           tic_id
Metadata      gaia_dr2_id
Metadata      gaia_dr3_id
Metadata    pl_tsystemref
Metadata            rastr
Metadata               ra
Metadata           decstr
Metadata              dec
Metadata             glat
Metadata             glon
Metadata             elat
Metadata             elon
Metadata          sy_dist
Metadata      sy_disterr1
Metadata      sy_disterr2
Metadata        rowupdate
Metadata       pl_pubdate
Metadata      releasedate
Name: Column Previous Name, dtype: object