In [166]:
import pandas as pd
import numpy as np

In [167]:
df = pd.read_csv('exoplanetai_datacleaning1_finalshape.csv')
df

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,...,19-09-2023,2023-08,19-09-2023,2,1,2,0,0,0,0
1,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,...,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0,0
2,8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,1,...,19-09-2023,2023-08,19-09-2023,0,1,1,0,0,0,0
3,10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,Gaia DR3 1385293808145621504,1,...,12-06-2023,2022-09,12-06-2023,0,1,4,1,0,0,0
4,18,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,Gaia DR3 2135550755683407232,1,...,04-09-2018,2017-03,06-09-2018,5,1,4,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5949,39193,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
5950,39199,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
5951,39205,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
5952,39209,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,1,...,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0,0
5953,39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,1,...,19-09-2023,2023-08,19-09-2023,1,1,1,0,0,0,0

In [168]:
df.isnull().sum()[0:10]

rowid              0
pl_name            0
hostname           0
pl_letter          0
hd_name         4951
hip_name        4866
tic_id           276
gaia_dr2_id      326
gaia_dr3_id      352
default_flag       0
dtype: int64

In [169]:
df.fillna({
    'hd_name' : 'Na',
    'hip_name' : 'Na',
    'tic_id' : 'Na',
    'gaia_dr2_id' : 'Na',
    'gaia_dr3_id' : 'Na',

},inplace=True)

In [170]:
print(df.loc[df['pl_orbper'].isnull(),['pl_orbper','pl_orbsmax','st_mass']].shape)
print(df.loc[df['pl_orbper'].isnull() & df['st_mass'].isnull(),['pl_orbper','pl_orbsmax','st_mass']].shape)
print(df.loc[df['pl_orbper'].isnull() & df['pl_orbsmax'].isnull(),['pl_orbper','pl_orbsmax','st_mass']].shape)
print(df.loc[df['pl_orbper'].isnull() & df['st_mass'].isnull() & df['pl_orbsmax'].isnull(),['pl_orbper','pl_orbsmax','st_mass']].shape)

def orbital_period(row):
    if pd.isnull(row['pl_orbper']):
        if pd.notnull(row['pl_orbsmax']) and pd.notnull(row['st_mass']):
            if row['st_mass'] > 0:
                years = np.sqrt((row['pl_orbsmax']**3) / row['st_mass'])
                return years * 365.25
    return row['pl_orbper']

df['pl_orbper'] = df.apply(orbital_period, axis=1)

# df.dropna(subset=['pl_orbper'], inplace=True)

df.loc[df['pl_orbper'].isnull()].count

(326, 3)
(29, 3)
(17, 3)
(9, 3)

<bound method DataFrame.count of       rowid                    pl_name                 hostname pl_letter  \
16       42  2MASS J03590986+2009361 b  2MASS J03590986+2009361         b
18       44  2MASS J11011926-7732383 b  2MASS J11011926-7732383         b
19       45  2MASS J11550485-7919108 b  2MASS J11550485-7919108         b
22       50  2MASS J21252752-8138278 b  2MASS J21252752-8138278         b
24       52  2MASS J22501512+2325342 b  2MASS J22501512+2325342         b
51      169                   AB Pic b                   AB Pic         b
94      253               CD-35 2722 b               CD-35 2722         b
99      259               COCONUTS-2 b             COCONUTS-2 A         b
100     261                   CT Cha b                   CT Cha         b
196     542                  G 196-3 b                  G 196-3         b
361    1044                 HAT-P-16 b                 HAT-P-16         b
649    2245              HD 135344 A b              HD 135344 A         b
877    2876                HD 203030 b                HD 203030         b
1025   3247             HD 284149 AB b              HD 284149 A         b
1361   4135                HIP 77900 b                HIP 77900         b
1380   4180                   HN Peg b                   HN Peg         b
1390   4214                  HR 8799 e                  HR 8799         e
1393   4221                   ITG 15 b                 ITG 15 A         b
1964   6355       KMT-2019-BLG-1953L b       KMT-2019-BLG-1953L         b
1974   6400       KMT-2021-BLG-0322L b       KMT-2021-BLG-0322L         b
2019   6514       KMT-2024-BLG-0404L c       KMT-2024-BLG-0404L         c
2020   6516       KMT-2024-BLG-1044L b       KMT-2024-BLG-1044L         b
4809  35289        MOA-2019-BLG-008L b        MOA-2019-BLG-008L         b
4896  35513      OGLE-2015-BLG-1609L b      OGLE-2015-BLG-1609L         b
4949  35696      OGLE-2018-BLG-1367L b      OGLE-2018-BLG-1367L         b
4976  35798                   PDS 70 b                   PDS 70         b
4977  35803                   PDS 70 c                   PDS 70         c
5009  35922                 Ross 458 c                 Ross 458         c
5012  35925                 SR 12 AB c                 SR 12 AB         c
5702  37715                 WASP-108 b                 WASP-108         b
5712  37790                 WASP-120 b                 WASP-120         b
5714  37810                 WASP-123 b                 WASP-123         b
5728  37884                 WASP-136 b                 WASP-136         b
5732  37911                 WASP-140 b                 WASP-140         b
5791  38215                  WASP-20 b                  WASP-20         b
5884  38966                 WISPIT 1 b                 WISPIT 1         b
5885  38967                 WISPIT 1 c                 WISPIT 1         c

          hd_name    hip_name         tic_id                   gaia_dr2_id  \
16             Na          Na   TIC 14183352    Gaia DR2 51369428065705600
18             Na          Na  TIC 454227159  Gaia DR2 5201185574182015744
19             Na          Na  TIC 357014373  Gaia DR2 5199985216726016896
22             Na          Na  TIC 273305007  Gaia DR2 6348514275456913792
24             Na          Na  TIC 435830255  Gaia DR2 2837047214379099904
51       HD 44627   HIP 30034  TIC 260351540  Gaia DR2 5495052596695570816
94             Na          Na  TIC 201426753  Gaia DR2 2885863400349980288
99             Na          Na  TIC 272232401  Gaia DR2 5213167330349528064
100            Na          Na  TIC 454259409  Gaia DR2 5201360671411974912
196            Na          Na   TIC 88723334   Gaia DR2 824017070904063104
361            Na          Na  TIC 191284318   Gaia DR2 381592313648387200
649   HD 135344 A          Na  TIC 307606851  Gaia DR2 6199395656645840384
877     HD 203030  HIP 105232   TIC 25559430  Gaia DR2 1846882224145757056
1025  HD 284149 A   HIP 19176   TIC 15817487    Gaia DR2 51914888911355776
1361           Na   HIP 77900   TIC 24133681  Gaia DR2 6233740654686482560
1380    HD 206860  HIP 107350  TIC 301880196  Gaia DR2 1772187382746856320
1390    HD 218396  HIP 114189  TIC 245368902  Gaia DR2 2832463659640297472
1393           Na          Na  TIC 150058659   Gaia DR2 148400229703257856
1964           Na          Na             Na                            Na
1974           Na          Na             Na                            Na
2019           Na          Na             Na                            Na
2020           Na          Na             Na                            Na
4809           Na          Na             Na                            Na
4896           Na          Na             Na                            Na
4949           Na          Na             Na                            Na
4976           Na          Na  TIC 179413040  Gaia DR2 6110141563309613056
4977           Na          Na  TIC 179413040  Gaia DR2 6110141563309613056
5009           Na   HIP 63510   TIC 88138162  Gaia DR2 3737308025028857600
5012           Na          Na  TIC 175629526  Gaia DR2 6049072007438134272
5702           Na          Na  TIC 404340025  Gaia DR2 6084610490990144512
5712           Na          Na  TIC 152476657  Gaia DR2 4837286842167819776
5714           Na          Na   TIC 31858843  Gaia DR2 6756148659453907200
5728           Na          Na  TIC 176220787  Gaia DR2 2441013811932929280
5732           Na          Na  TIC 178284730  Gaia DR2 5094154336330994688
5791           Na          Na  TIC 211438925  Gaia DR2 2359978293136820864
5884           Na          Na  TIC 268764100  Gaia DR2 5517037434775143808
5885           Na          Na  TIC 268764100  Gaia DR2 5517037434775143808

                       gaia_dr3_id  default_flag  ...   rowupdate  pl_pubdate  \
16      Gaia DR3 51369428065705600             1  ...  08-05-2024     2024-01
18    Gaia DR3 5201185574182015744             1  ...  08-05-2024     2024-01
19    Gaia DR3 5199985216726016896             1  ...  07-05-2024     2024-01
22    Gaia DR3 6348514275456913792             1  ...  07-05-2024     2024-01
24    Gaia DR3 2837047214379099904             1  ...  04-12-2025     2018-01
51    Gaia DR3 5495052596695570816             1  ...  14-05-2014     2005-08
94    Gaia DR3 2885863400349980288             1  ...  11-12-2025     2025-11
99    Gaia DR3 5213167330349528064             1  ...  04-11-2024     2024-10
100   Gaia DR3 5201360671411974912             1  ...  14-05-2014     2008-11
196    Gaia DR3 824017070904063104             1  ...  08-05-2024     2024-01
361    Gaia DR3 381592313648387200             1  ...  18-12-2025     2022-03
649   Gaia DR3 6199395656645840384             1  ...  07-08-2025     2025-08
877   Gaia DR3 1846882224145757056             1  ...  08-09-2021     2017-12
1025    Gaia DR3 51914888911355776             1  ...  11-06-2024     2017-12
1361  Gaia DR3 6233740654686482560             1  ...  08-05-2024     2024-01
1380  Gaia DR3 1772187382746856320             1  ...  14-05-2014     2007-01
1390  Gaia DR3 2832463659640297472             1  ...  24-06-2019     2019-03
1393   Gaia DR3 148400229703257856             1  ...  08-05-2024     2024-01
1964                            Na             1  ...  08-09-2020     2020-07
1974                            Na             1  ...  24-01-2022     2021-11
2019                            Na             1  ...  02-10-2025     2025-08
2020                            Na             1  ...  09-01-2025     2024-12
4809                            Na             1  ...  29-11-2022     2022-09
4896                            Na             1  ...  14-08-2025     2025-06
4949                            Na             1  ...  03-05-2023     2022-08
4976  Gaia DR3 6110141563309613056             1  ...  06-07-2020     2020-06
4977  Gaia DR3 6110141563309613056             1  ...  06-07-2020     2020-06
5009  Gaia DR3 3737308025029348608             1  ...  18-09-2020     2010-12
5012  Gaia DR3 6049072007438134272             1  ...  14-05-2014     2011-04
5702  Gaia DR3 6084610486697803008             1  ...  18-12-2025     2022-03
5712  Gaia DR3 4837286842168217088             1  ...  18-12-2025     2022-03
5714  Gaia DR3 6756148659453907200             1  ...  18-12-2025     2022-03
5728  Gaia DR3 2441013811932929280             1  ...  18-12-2025     2022-03
5732  Gaia DR3 5094154336332482304             1  ...  18-12-2025     2022-03
5791  Gaia DR3 2359978293137038720             1  ...  18-12-2025     2022-03
5884  Gaia DR3 5517037434775143808             1  ...  17-09-2025     2025-08
5885  Gaia DR3 5517037434775143808             1  ...  17-09-2025     2025-08

      releasedate  pl_nnotes st_nphot  st_nrvc st_nspec pl_nespec  \
16     08-05-2024          0        0        0        0         0
18     08-05-2024          0        0        0        0         0
19     07-05-2024          0        0        0        0         0
22     07-05-2024          0        0        0        0         0
24     04-12-2025          0        0        0        0         0
51     14-05-2014          1        1        0        0         0
94     11-12-2025          2        0        0        0         0
99     04-11-2024          2        0        0        0         0
100    14-05-2014          0        0        0        0         0
196    08-05-2024          0        0        0        0         0
361    18-12-2025          2        0        3        0         0
649    07-08-2025          1        0        0        0         0
877    08-09-2021          2        1        0        1         0
1025   11-06-2024          1        0        0        0         0
1361   08-05-2024          0        0        0        0         0
1380   14-05-2014          1        1        0        1         0
1390   27-06-2019          3        1        0        0         0
1393   08-05-2024          0        0        0        0         0
1964   03-09-2020          6        0        0        0         0
1974   24-01-2022          2        0        0        0         0
2019   02-10-2025          1        0        0        0         0
2020   09-01-2025          2        0        0        0         0
4809   29-11-2022         12        0        0        0         0
4896   14-08-2025          4        0        0        0         0
4949   03-05-2023          3        0        0        0         0
4976   09-07-2020          3        0        0        0         0
4977   09-07-2020          3        0        0        0         0
5009   24-09-2020          3        1        0        1         0
5012   14-05-2014          4        0        0        0         0
5702   18-12-2025          0        0        0        0         0
5712   18-12-2025          0        0        0        0         0
5714   18-12-2025          2        0        0        0         0
5728   18-12-2025          1        0        0        0         0
5732   18-12-2025          1        0        0        0         0
5791   18-12-2025          3        0        0        0         0
5884   17-09-2025          0        0        0        0         0
5885   17-09-2025          0        0        0        0         0

     pl_ntranspec pl_ndispec
16              0          0
18              0          0
19              0          0
22              0          0
24              0          0
51              0          0
94              0          0
99              0          1
100             0          0
196             0          0
361             1          0
649             0          0
877             0          0
1025            0          0
1361            0          0
1380            0          0
1390            0          6
1393            0          0
1964            0          0
1974            0          0
2019            0          0
2020            0          0
4809            0          0
4896            0          0
4949            0          0
4976            0          1
4977            0          1
5009            0          0
5012            0          0
5702            0          0
5712            0          0
5714            0          0
5728            0          0
5732            0          0
5791            0          0
5884            0          0
5885            0          0

[37 rows x 264 columns]>

In [171]:
df['pl_orbpererr1'].fillna(df['pl_orbpererr1'].median, inplace=True)
df['pl_orbpererr2'].fillna(df['pl_orbpererr2'].median, inplace=True)
df['pl_orbperlim'] = df['pl_orbperlim'].fillna(0)
df.loc[df['pl_orbpererr2'].isnull() | df['pl_orbpererr1'].isnull(), ['pl_orbpererr2','pl_orbpererr1']].shape
df.loc[df['pl_orbperlim'].isnull()].shape

C:\Users\hardi\AppData\Local\Temp\ipykernel_111800\3677970562.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0       0.060000
1       3.200000
2       0.110000
3       1.677090
4       1.000000
          ...
5949    0.000023
5950    0.064000
5951    0.570000
5952    2.800000
5953    0.110000
Name: pl_orbpererr1, Length: 5954, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['pl_orbpererr1'].fillna(df['pl_orbpererr1'].median, inplace=True)
C:\Users\hardi\AppData\Local\Temp\ipykernel_111800\3677970562.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0      -0.050000
1      -3.200000
2      -0.120000
3      -1.872560
4      -1.000000
          ...
5949   -0.000023
5950   -0.064000
5951   -0.570000
5952   -1.300000
5953   -0.180000
Name: pl_orbpererr2, Length: 5954, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['pl_orbpererr2'].fillna(df['pl_orbpererr2'].median, inplace=True)

(0, 264)

In [172]:


def kepler_orbsmax(row):
    if pd.isnull(row['pl_orbsmax']):
        if pd.notnull(row['pl_orbper']) and pd.notnull(row['st_mass']):
            if row['st_mass'] > 0:
                years = row['pl_orbper'] / 365.25
                res = (years**2 * row['st_mass'])**(1/3)
                return res
    return row['pl_orbsmax']

df['pl_orbsmax'] = df.apply(kepler_orbsmax, axis=1)

In [173]:
df.loc[df['pl_orbsmax'].isnull(), ['st_mass','pl_orbsmax','pl_orbper']].shape

(54, 3)

In [174]:
df['pl_orbsmaxerr1'].fillna(df['pl_orbsmaxerr1'].median, inplace=True)
df['pl_orbsmaxerr2'].fillna(df['pl_orbsmaxerr2'].median, inplace=True)
df['pl_orbsmaxlim'] = df['pl_orbsmaxlim'].fillna(0)
df.loc[df['pl_orbsmaxerr2'].isnull() | df['pl_orbsmaxerr1'].isnull(), ['pl_orbsmaxerr2','pl_orbsmaxerr1']].shape
df.loc[df['pl_orbsmaxlim'].isnull()].shape

C:\Users\hardi\AppData\Local\Temp\ipykernel_111800\1297376045.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0       0.000000e+00
1       7.000000e-02
2       0.000000e+00
3       1.090000e-01
4       3.000000e-02
            ...
5949    2.000000e-07
5950    1.500000e-05
5951    7.500000e-04
5952    1.100000e-01
5953    0.000000e+00
Name: pl_orbsmaxerr1, Length: 5954, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['pl_orbsmaxerr1'].fillna(df['pl_orbsmaxerr1'].median, inplace=True)
C:\Users\hardi\AppData\Local\Temp\ipykernel_111800\1297376045.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0       0.000000e+00
1      -7.000000e-02
2       0.000000e+00
3      -1.200000e-01
4      -3.000000e-02
            ...
5949   -2.000000e-07
5950   -1.500000e-05
5951   -7.500000e-04
5952   -3.200000e-01
5953   -1.000000e-03
Name: pl_orbsmaxerr2, Length: 5954, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['pl_orbsmaxerr2'].fillna(df['pl_orbsmaxerr2'].median, inplace=True)

(0, 264)

In [175]:
df.isnull().sum()[40:45]

pl_rade        1512
pl_radeerr1    1889
pl_radeerr2    1889
pl_radelim     1512
pl_masse       3957
dtype: int64

In [176]:
def handle_pl_rad(row):
    if pd.isnull(row['pl_rade']):
        m = row['pl_masse']
        if pd.notnull(m) and m > 0:
            # Zone 1: Likely Rocky (Mass < 2.0 Earth Masses)
            if m <= 2.0:
                return m**(1/3.7) # Inverse of M = R^3.7
            # Zone 2: Gaseous/Giants
            else:
                return m**(1/2.0) # Inverse of M = R^2.0
                
    return row['pl_rade']

# Apply the imputation
df['pl_rade'] = df.apply(handle_pl_rad, axis=1)

In [ ]:
df['pl_radeerr1'] = df['pl_radeerr1'].fillna(df['pl_radeerr1'].median())
df['pl_radeerr2'] = df['pl_radeerr2'].fillna(df['pl_radeerr2'].median())

df['pl_radelim'] = df['pl_radelim'].fillna(0)

In [178]:
df.isnull().sum()[40:45]

pl_rade         955
pl_radeerr1       0
pl_radeerr2       0
pl_radelim        0
pl_masse       3957
dtype: int64

In [180]:
df.loc[df['pl_masse'].isnull()]

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,...,19-09-2023,2023-08,19-09-2023,2,1,2,0,0,0,0
1,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,...,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0,0
2,8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,1,...,19-09-2023,2023-08,19-09-2023,0,1,1,0,0,0,0
4,18,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,Gaia DR3 2135550755683407232,1,...,04-09-2018,2017-03,06-09-2018,5,1,4,3,0,0,0
5,24,17 Sco b,17 Sco,b,Na,HIP 79540,TIC 135596590,Gaia DR2 4342464209753404416,Gaia DR3 4342464209753404416,1,...,25-10-2021,2020-12,25-10-2021,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5949,39193,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
5950,39199,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
5951,39205,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
5952,39209,ups Leo b,ups Leo,b,Na,Na,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,1,...,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0,0
5953,39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,1,...,19-09-2023,2023-08,19-09-2023,1,1,1,0,0,0,0