In [111]:
import pandas as pd
import numpy as np

In [112]:
# This creates the variable 'df_raw'
df = pd.read_csv("datacleaning1_final1.csv", low_memory=False)

print(df.shape)
df.head()

(5954, 264)

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,...,19-09-2023,2023-08,19-09-2023,2,1,2,0,0,0,0
1,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,...,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0,0
2,8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,1,...,19-09-2023,2023-08,19-09-2023,0,1,1,0,0,0,0
3,10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,Gaia DR3 1385293808145621504,1,...,12-06-2023,2022-09,12-06-2023,0,1,4,1,0,0,0
4,18,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,Gaia DR3 2135550755683407232,1,...,04-09-2018,2017-03,06-09-2018,5,1,4,3,0,0,0

In [113]:
df.columns = df.columns.str.strip()

In [114]:
df.rename(columns={
    "pl_rade": "pl_rad",
    "pl_bmasse": "pl_mass",
    "pl_dens": "pl_dens",
    "pl_eqt": "pl_eqt",
    "pl_orbper": "pl_orbper",
    "pl_orbsmax": "pl_sma",
    "pl_orbeccen": "pl_ecc",
    "pl_insol" : "pl_insol",
    "st_teff": "st_temp",
    "st_lum": "st_lum",
    "st_met": "st_met",
    "st_dens" : "st_dens",
    "st_rad" : "st_rad",
    "st_age" : "st_age",
    "st_mass" : "st_mass",
    "st_spectype": "st_type"
}, inplace=True)

In [115]:
features = [
    "pl_rad",
    "pl_mass",
    "pl_dens",
    "pl_eqt",
    "pl_insol",
    "pl_orbper",
    "pl_sma",
    "pl_ecc",
    "st_temp",
    "st_lum",
    "st_met",
    "st_dens",
    "st_rad",
    "st_age",
    "st_mass",
    "st_type"
]

df = df[features].copy()

In [116]:
print(df.columns.tolist())

['pl_rad', 'pl_mass', 'pl_dens', 'pl_eqt', 'pl_insol', 'pl_orbper', 'pl_sma', 'pl_ecc', 'st_temp', 'st_lum', 'st_met', 'st_dens', 'st_rad', 'st_age', 'st_mass', 'st_type']

In [117]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5954 entries, 0 to 5953
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pl_rad     4442 non-null   float64
 1   pl_mass    2949 non-null   float64
 2   pl_dens    1149 non-null   float64
 3   pl_eqt     1573 non-null   float64
 4   pl_insol   821 non-null    float64
 5   pl_orbper  5628 non-null   float64
 6   pl_sma     3672 non-null   float64
 7   pl_ecc     2468 non-null   float64
 8   st_temp    5264 non-null   float64
 9   st_lum     1425 non-null   float64
 10  st_met     4200 non-null   float64
 11  st_dens    1704 non-null   float64
 12  st_rad     5192 non-null   float64
 13  st_age     2930 non-null   float64
 14  st_mass    5203 non-null   float64
 15  st_type    1288 non-null   object
dtypes: float64(15), object(1)
memory usage: 744.4+ KB

,pl_rad,pl_mass,pl_dens,pl_eqt,pl_insol,pl_orbper,pl_sma,pl_ecc,st_temp,st_lum,st_met,st_dens,st_rad,st_age,st_mass
count,4442.000000,2949.000000,1149.000000,1573.000000,821.000000,5.628000e+03,3672.000000,2468.000000,5264.000000,1425.000000,4200.000000,1704.000000,5192.000000,2930.000000,5203.000000
mean,4.449733,766.834667,5.523314,1020.871844,443.588951,4.587305e+03,22.294570,0.154528,5375.532209,-0.227064,0.013801,3.757142,1.485355,4.336264,0.943055
std,4.687882,1488.082843,61.418830,547.420103,1767.544972,1.658367e+05,421.774179,0.184693,1330.295194,1.086421,0.183618,9.994712,3.762181,2.536512,0.431388
min,0.309800,0.020000,0.030000,50.000000,0.001600,9.070629e-02,0.004400,0.000000,415.000000,-3.257270,-1.000000,0.004450,0.012300,0.001000,0.009400
25%,1.627750,12.713200,0.560000,588.000000,9.210000,4.347374e+00,0.053855,0.013000,4918.750000,-0.823910,-0.080000,0.683866,0.770750,2.800000,0.770000
50%,2.438184,176.076938,1.500000,923.000000,62.000000,1.108732e+01,0.114150,0.090000,5551.000000,-0.101270,0.020000,1.534370,0.950000,4.170000,0.948000
75%,4.087500,699.222495,3.690000,1395.000000,406.000000,3.944300e+01,0.834250,0.220000,5903.250000,0.404830,0.120000,2.864204,1.239250,5.370000,1.100000
max,33.600000,9534.852210,2000.000000,4050.000000,44900.000000,8.040000e+06,19000.000000,0.950000,40000.000000,3.223980,0.600000,187.952403,88.475000,14.900000,10.940000

In [118]:
null_report = pd.DataFrame({
    "null_count": df.isna().sum(),
    "null_percent": (df.isna().mean() * 100).round(2)
}).sort_values("null_percent", ascending=False)

null_report

           null_count  null_percent
pl_insol         5133         86.21
pl_dens          4805         80.70
st_type          4666         78.37
st_lum           4529         76.07
pl_eqt           4381         73.58
st_dens          4250         71.38
pl_ecc           3486         58.55
st_age           3024         50.79
pl_mass          3005         50.47
pl_sma           2282         38.33
st_met           1754         29.46
pl_rad           1512         25.39
st_rad            762         12.80
st_mass           751         12.61
st_temp           690         11.59
pl_orbper         326          5.48

In [119]:
df = df.drop(columns=null_report[null_report["null_percent"] > 60].index)

In [120]:
for col in df.columns:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    df[col] = df[col].clip(lower, upper)

In [121]:
df.isna().sum()
df.describe()
df.shape

(5954, 10)

In [122]:
total_missing_values = df.isnull().sum().sum()
print("Total missing values:", total_missing_values)

Total missing values: 17592

In [123]:
df.to_csv('datacleaning2_final2.csv')