### Setup imports
Load core libraries for analysis (NumPy, pandas).

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Load confirmed planet catalog
Read NASA confirmed planets CSV using `rowid` as index.

In [2]:
df = pd.read_csv('full dataset.csv',index_col='rowid')
df

C:\Users\Anjali\AppData\Local\Temp\ipykernel_13608\354442136.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('full dataset.csv',index_col='rowid')

,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,sy_snum,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,2,...,19-09-2023,2023-08,19-09-2023,2,1,2,0,0,0,0
2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,2,...,14-05-2014,2008-01,14-05-2014,2,1,2,0,0,0,0
3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,2,...,23-07-2014,2011-08,23-07-2014,2,1,2,0,0,0,0
4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,0,1,...,25-04-2018,2009-10,14-05-2014,0,1,1,0,0,0,0
5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,1,...,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39208,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,0,2,...,24-04-2015,2009-03,24-04-2015,5,1,10,1,0,0,0
39209,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,1,1,...,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0,0
39210,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,0,1,...,23-07-2014,2011-08,23-07-2014,1,1,1,0,0,0,0
39211,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,0,1,...,14-05-2014,2008-06,14-05-2014,1,1,1,0,0,0,0
39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,1,1,...,19-09-2023,2023-08,19-09-2023,1,1,1,0,0,0,0

### Inspect dataframe structure
Review column types and non-null counts with DataFrame info.

In [3]:
df.info

<bound method DataFrame.info of          pl_name hostname pl_letter    hd_name   hip_name         tic_id  \
rowid
1       11 Com b   11 Com         b  HD 107383  HIP 60202   TIC 72437047
2       11 Com b   11 Com         b  HD 107383  HIP 60202   TIC 72437047
3       11 Com b   11 Com         b  HD 107383  HIP 60202   TIC 72437047
4       11 UMi b   11 UMi         b  HD 136726  HIP 74793  TIC 230061010
5       11 UMi b   11 UMi         b  HD 136726  HIP 74793  TIC 230061010
...          ...      ...       ...        ...        ...            ...
39208  ups And d  ups And         d    HD 9826   HIP 7513  TIC 189576919
39209  ups Leo b  ups Leo         b        NaN        NaN   TIC 49430557
39210   xi Aql b   xi Aql         b  HD 188310  HIP 97938  TIC 375464367
39211   xi Aql b   xi Aql         b  HD 188310  HIP 97938  TIC 375464367
39212   xi Aql b   xi Aql         b  HD 188310  HIP 97938  TIC 375464367

                        gaia_dr2_id                   gaia_dr3_id  \
rowid
1      Gaia DR2 3946945413106333696  Gaia DR3 3946945413106333696
2      Gaia DR2 3946945413106333696  Gaia DR3 3946945413106333696
3      Gaia DR2 3946945413106333696  Gaia DR3 3946945413106333696
4      Gaia DR2 1696798367260229376  Gaia DR3 1696798367260229376
5      Gaia DR2 1696798367260229376  Gaia DR3 1696798367260229376
...                             ...                           ...
39208   Gaia DR2 348020448377061376   Gaia DR3 348020482735930112
39209  Gaia DR2 3794167001116433152  Gaia DR3 3794167001116704000
39210  Gaia DR2 4298361114750843904  Gaia DR3 4298361114753012992
39211  Gaia DR2 4298361114750843904  Gaia DR3 4298361114753012992
39212  Gaia DR2 4298361114750843904  Gaia DR3 4298361114753012992

       default_flag  sy_snum  ...   rowupdate  pl_pubdate  releasedate  \
rowid                         ...
1                 1        2  ...  19-09-2023     2023-08   19-09-2023
2                 0        2  ...  14-05-2014     2008-01   14-05-2014
3                 0        2  ...  23-07-2014     2011-08   23-07-2014
4                 0        1  ...  25-04-2018     2009-10   14-05-2014
5                 1        1  ...  04-09-2018     2017-03   06-09-2018
...             ...      ...  ...         ...         ...          ...
39208             0        2  ...  24-04-2015     2009-03   24-04-2015
39209             1        1  ...  10-01-2022     2021-12   10-01-2022
39210             0        1  ...  23-07-2014     2011-08   23-07-2014
39211             0        1  ...  14-05-2014     2008-06   14-05-2014
39212             1        1  ...  19-09-2023     2023-08   19-09-2023

      pl_nnotes  st_nphot st_nrvc st_nspec pl_nespec pl_ntranspec pl_ndispec
rowid
1             2         1       2        0         0            0          0
2             2         1       2        0         0            0          0
3             2         1       2        0         0            0          0
4             0         1       1        0         0            0          0
5             0         1       1        0         0            0          0
...         ...       ...     ...      ...       ...          ...        ...
39208         5         1      10        1         0            0          0
39209         0         0       0        0         0            0          0
39210         1         1       1        0         0            0          0
39211         1         1       1        0         0            0          0
39212         1         1       1        0         0            0          0

[39212 rows x 288 columns]>

### Load column description metadata
Load column descriptions keyed by serial number for downstream filtering.

In [4]:
df_col = pd.read_csv('dataset_column_discription.csv', index_col='S.No')
df_col

,Column Previous Name,Column Full Name,Coulmn Actual Name,Description,Purpose
S.No,,,,,
1,pl_name,Planet Name,name,Full name of the exoplanet.,Metadata
2,hostname,Host Name,star_name,Name of the host star.,Metadata
3,pl_letter,Planet Letter,letter,"Assigned letter (b, c, d, etc.).",Metadata
4,hd_name,HD ID,hd_id,ID in Henry Draper Catalogue.,Metadata
5,hip_name,HIP ID,hip_id,ID in Hipparcos Catalogue.,Metadata
...,...,...,...,...,...
285,st_nspec,Number of Stellar Spectra Measurements,n_spec,Total stellar spectra measurements recorded.,Feature
286,pl_nespec,Number of Eclipse Spectra,n_espec,Number of secondary eclipse spectra available.,Feature
287,pl_ntranspec,Number of Transmission Spectra,n_tspec,Number of transmission spectra available.,Feature
288,pl_ndispec,Number of Direct Imaging Spectra,n_ispec,Number of direct imaging spectra available.,Feature
289,-,NaN,is_habitable,The final target variable you will calculate.,Target

### Filtering by best default Flag

In [5]:
df = df.loc[df['default_flag'] == 1]
df

,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,sy_snum,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,2,...,19-09-2023,2023-08,19-09-2023,2,1,2,0,0,0,0
5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,1,...,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0,0
8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,1,1,...,19-09-2023,2023-08,19-09-2023,0,1,1,0,0,0,0
10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,Gaia DR3 1385293808145621504,1,1,...,12-06-2023,2022-09,12-06-2023,0,1,4,1,0,0,0
18,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,Gaia DR3 2135550755683407232,1,3,...,04-09-2018,2017-03,06-09-2018,5,1,4,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39193,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39199,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39205,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39209,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,1,1,...,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0,0
39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,1,1,...,19-09-2023,2023-08,19-09-2023,1,1,1,0,0,0,0

### Filtering by soltype (only confirmed planet whose data is verified to increase accuracy)

In [6]:
df = df.loc[df['soltype'] == 'Published Confirmed']
df

,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,sy_snum,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,2,...,19-09-2023,2023-08,19-09-2023,2,1,2,0,0,0,0
5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,1,...,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0,0
8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,1,1,...,19-09-2023,2023-08,19-09-2023,0,1,1,0,0,0,0
10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,Gaia DR3 1385293808145621504,1,1,...,12-06-2023,2022-09,12-06-2023,0,1,4,1,0,0,0
18,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,Gaia DR3 2135550755683407232,1,3,...,04-09-2018,2017-03,06-09-2018,5,1,4,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39193,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39199,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39205,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39209,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,1,1,...,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0,0
39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,1,1,...,19-09-2023,2023-08,19-09-2023,1,1,1,0,0,0,0

### Filtering by Planet controvery Flag (planet whose existence is under dispute)

In [7]:
df = df.loc[df['pl_controv_flag'] ==0]
df

,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,sy_snum,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,2,...,19-09-2023,2023-08,19-09-2023,2,1,2,0,0,0,0
5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,1,...,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0,0
8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,1,1,...,19-09-2023,2023-08,19-09-2023,0,1,1,0,0,0,0
10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,Gaia DR3 1385293808145621504,1,1,...,12-06-2023,2022-09,12-06-2023,0,1,4,1,0,0,0
18,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,Gaia DR3 2135550755683407232,1,3,...,04-09-2018,2017-03,06-09-2018,5,1,4,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39193,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39199,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39205,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,2,...,28-01-2019,2011-01,31-01-2019,5,1,10,1,0,0,0
39209,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,1,1,...,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0,0
39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,1,1,...,19-09-2023,2023-08,19-09-2023,1,1,1,0,0,0,0

### Drop unused columns
Remove columns flagged as `Drop` in the description metadata.

In [8]:
def drop_columns_by_purpose(df, df_col, drop_label='Drop'):
    df_col = df_col.set_index('Purpose')

    cols = (
        df_col
        .loc[drop_label, 'Column Previous Name']
        .dropna()
        .unique()
        .tolist()
    )

    cols = [c for c in cols if c in df.columns]

    return df.drop(columns=cols), cols


df, dropped = drop_columns_by_purpose(df, df_col)
print("Dropped:", dropped)
print("Final shape:", df.shape)

Dropped: ['disc_refname', 'disc_pubdate', 'pl_refname', 'pl_radj', 'pl_radjerr1', 'pl_radjerr2', 'pl_radjlim', 'pl_massj', 'pl_massjerr1', 'pl_massjerr2', 'pl_massjlim', 'pl_msinij', 'pl_msinijerr1', 'pl_msinijerr2', 'pl_msinijlim', 'pl_cmassj', 'pl_cmassjerr1', 'pl_cmassjerr2', 'pl_cmassjlim', 'pl_bmassj', 'pl_bmassjerr1', 'pl_bmassjerr2', 'pl_bmassjlim', 'st_refname', 'sy_refname']
Final shape: (5954, 263)

In [9]:
df_p = df_col.set_index('Purpose')

### Split metadata columns
Extract metadata-only columns for reference and inspection.

In [10]:
def extract_columns_by_purpose(df, df_p, purpose):
    if purpose not in df_p.index:
        raise ValueError(f"{purpose} not found in Purpose index")

    cols = (
        df_p.loc[purpose, 'Column Previous Name']
        .dropna()
        .unique()
        .tolist()
    )

    cols = [c for c in cols if c in df.columns]
    return df.loc[:, cols], cols


df_metadata, meta_cols = extract_columns_by_purpose(df, df_p, 'Metadata')
print("Metadata shape:", df_metadata.shape)

Metadata shape: (5954, 23)

### Split feature columns
Isolate feature columns for model training inputs.

In [11]:
df_feature_cols = df_p.loc['Feature','Column Previous Name'].tolist()
df_feature = df[df_feature_cols]
df_feature.shape

(5954, 237)

## Missing value (or) Null value

In [12]:
total_missing_values = df.isnull().sum().sum()
print("Total missing values:", total_missing_values)

Total missing values: 687848

## Size of dataset

In [13]:
df.shape

(5954, 263)

### Save cleaned dataset
Persist the cleaned DataFrame to CSV for downstream use.

In [15]:
df.to_csv('datacleaning11_final1.csv')